/* HELE SIDEN */

body {
    font-family: Arial;
    text-align: center;
    background-color: white;
    color: #10288C;
    margin: 0;
}


/* HEADER */

header {
    padding: 50px 20px;
    background-color: #CBE2FE;
    border-bottom: 4px solid #FFE8F0FF;
}

header h1 {
    margin-bottom: 10px;
    color: #10288C;
}


/* NAVIGATION */

nav {
    margin-top: 30px;
}

nav a {
    color: #10288C;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}


/* SECTIONS */

section {
    padding: 50px 20px;
    border-bottom: 1px solid #CBE2FE;
}

section h2 {
    color: #4B0090;
}


/* OM MIG */

#ommig {
    background-color: white;
}


/* UDDANNELSE */

#uddannelse {
    background-color: #FFE8F0FF;
}


/* ARBEJDSERFARING */

#jobs {
    background-color: white;
}


/* PROJEKTER */

#projekter {
    background-color: #CBE2FE;
}

.projekter {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.projekt {
    background-color: white;
    border: 2px solid #10288C;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.projekt h3 {
    color: #4B0090;
}

.projekt a {
    color: #000000;
    text-decoration: none;
}

.projekt a:hover {
    color: #4B0090;
    text-decoration: underline;
}


/* SKILLS */

#skills {
    background-color: #FFE8F0;
}


/* LISTER */

ul {
    list-style-type: none;
    padding: 0;
}


/* FOOTER */

footer {
    padding: 30px;
    background-color: #10288C;
    color: white;
}

footer h2 {
    color: white;
}

footer a {
    color: #CBE2FE;
    margin: 0 10px;
}

footer a:hover {
    color: #FFE8F0FF;
}